<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'shared/errors', obj: @comment %>
    <h1 class="text-center">Editing Comment</h1>
    <%= render 'form' %>
    <p class="text-center">[ <%= link_to 'cancel and return to post', post_path(@post) %> ]</p>
  </div>
</div>


