<% if notice %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div class="panel-title">
            <%= notice %>
          </div>
          <span class="pull-right clickable" data-effect="fadeOut"><i class="glyphicon glyphicon-remove"></i></span>
        </div>
      </div>
    </div>
  </div>
<% end %>

