@import "bootstrap-sprockets";
@import "bootstrap";
.comment-row {
  margin-bottom: 100px;
}
.post-title:hover {
  text-decoration: none;
}
/**************Post Styles***************/
.meta-info {
  font-size: 85%;
  color: #828485;
}

/**************Panel effects***************/
.panel-heading span
{
  margin-top: -26px;
  font-size: 15px;
  margin-right: -12px;
}

.clickable {
  background: rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

/**************Footer Styles***************/
footer {
  margin-bottom: 50px;
}

footer a:hover {
  text-decoration: none;
}